html, body{
  width: 100%;
  height: 100%;
}
/*************************
-----COULEURS DE FOND-----
*************************/
body{
  background-color: #666565;
}
#content{
  height: inherit;
}
#color{
  background-color: #666565;
}
#color_Pink{
  background-color: #FF0084;
  /*background-image: url('../img/fond_rose.png');*/
  height: 100%;
  padding-right: 0;
  position: fixed;
  left: 0;
  margin-right: 150px;
  z-index: 50;
}
#image{
  z-index: 2000;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 500px) {
  #color_Pink{
    height: 1800px;
  }
  #content{
    height: 1800px;
  }
}
/**************************
--------COORDONNEES--------
**************************/
.coordonnes{
  padding-top: 10px;
  color: white;
  font-family: 'Cabin', sans-serif;
}
.fa{
  color: white;
}
.line{
  border: 1px solid #FF0084;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;
}
.tel{
  text-align: center;
}
.mail{
  text-align: right;
}
.linkedin{
  text-align: left;
}
.github{
  text-align: center;
}
@media screen and (max-width: 500px) {
  .coordonnes, .tel, .mail, .linkedin, .github{
    text-align: center;
  }
}
/**************************
-------NOM_PRENOM-JOB------
**************************/
#prenom{
  margin-top: 10px;
  color: #f3add9;
  text-shadow: 1px 1px #f3add9;
  font-family: 'Cabin', sans-serif;
}
.prenom_nom{
  margin-top: 10px;
  color: white;
  text-shadow: 1px 1px white;
  font-family: 'Cabin', sans-serif;
  font-size: 3em;
}
@media screen and (max-width: 500px) {
  .prenom_nom{
    font-size: 2em;
    text-align: center;
  }
  .job h3{
    font-size: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 500px) {
 #job{
   font-size: 4em;
   text-align: center;
 }
}
#job{
  font-family: 'Clicker Script', cursive;
  text-align: right;
  margin-top: 15px;
  color: #FF0084;
  text-shadow: 1px 1px #f3add9;
  font-weight: bold;
}
/**************************
--------COMPETENCES--------
**************************/
#competences, #mes_competences{
  font-family: 'Clicker Script', cursive;
  color: #f3add9;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  padding: 0;
  margin: 0;
}
.mes_competences{
  font-family: 'Clicker Script', cursive;
  color: #f3add9;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  padding: 0;
  margin: 0;
}
.competences{
  text-align: center;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 30px;
}
#syst_expl{
  font-family: 'Cabin', sans-serif;
  color: #FF0084;
  text-align: left;
  font-weight: bold;
  margin-left: 2%;
  margin-top: 30px;
}
.list_syst{
  text-align: left;
}
#outils{
  font-family: 'Cabin', sans-serif;
  color: #FF0084;
  text-align: left;
  font-weight: bold;
  margin-left: 2%;
  margin-top: 30px;
}
.liste_outils{
  text-align: left;
  color: white;
  padding: 0;
  margin:0;
}
#langage{
  font-family: 'Cabin', sans-serif;
  text-align: left;
  color: #FF0084;
  font-weight: bold;
  margin-left: 2%;
  margin-top: 30px;
}
.liste_langage{
  text-align: left;
  color: white;
}
#framework{
  font-family: 'Cabin', sans-serif;
  text-align: left;
  color: #FF0084;
  font-weight: bold;
  margin-top: 30px;
}
.progress-bar-striped{
  background-color: #FF69B4;
}
@media screen and (max-width: 500px) {
  #outils{
    text-align: left;
    margin-bottom: 20px;
  }
  #langage{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #framework{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #competences{
    text-align: center;
    margin-left: 15%;
    margin-bottom: 20px;
  }
  .competences{
    text-align: left;
  }
}
/**************************
--------EXPERIENCES--------
**************************/
#experiences{
  font-family: 'Clicker Script', cursive;
  color: #f3add9;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  padding: 0;
  margin: 0;
}
.experiences{
  text-align: center;
  padding: 0;
  margin-top: 80px;
}
.mes_experiences{
  margin-top: 30px;
}
.annee{
  color: #FF0084;
  text-decoration: underline;
  font-size: 1.5em;
  font-weight: bold;
}
.titre_descriptif{
  color: #f3add9;
  font-size: 18px;
  font-weight: bold;
}
.descriptif{
  color: white;
  font-size: 15px;
}
@media screen and (max-width: 500px) {
  #experiences{
    text-align: center;
  }
}
/**************************
--------FORMATIONS--------
**************************/
#formation{
  font-family: 'Clicker Script', cursive;
  color: #f3add9;
  font-weight: bold;
  text-align: center;
  font-size: 2.5em;
  padding: 0;
  margin: 0;
}
.formation{
  text-align: center;
  padding: 0;
  margin-top: 80px;
}
.mes_formation{
  margin-top: 30px;
}
.annee{
  font-size: 1.5em;
}
.titre_descriptif{
  font-size: 18px;
}
.descriptif{
  font-size: 15px;
}
@media screen and (max-width: 500px) {
  #formation{
    text-align: center;
  }
}
/**************************
-----QUALITES PERSOS------
**************************/
#qualites{
  font-family: 'Clicker Script', cursive;
  color: #f3add9;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  padding: 0;
  margin: 0;
}
.qualites{
  text-align: center;
  color: white;
  margin-top: 80px;
}
.mes_qualites{
  margin-top: 40px;
}
.titre_qp{
  color: white;
  font-weight: bold;
  margin-right: 30px;
}
.titre_qp > .fa-long-arrow-right{
  color: #FF0084;
}
@media screen and (max-width: 500px) {
  #qualites{
    text-align: center;
  }
  .titre_qp{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
  }
}
/******************************
------------Boutton------------
******************************/
button{
  background-color: transparent;
  border: none;
  border-right: 2px solid #FF0084;
  padding-right: 20px;
  padding-left: 10px;
}
.bouton{
  text-align: center;
}
@media screen and (max-width: 500px) {
  button{
    border: none;
    border-right: none;
  }
  #competences, #experiences, #formation, #qualites{
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
}
